
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h2>Lista de Cursos</h2>
<br />
<button id="listarCursos" class="btn btn-primary">Listar Cursos</button>
<button id="limpiarListaCursos" class="btn btn-primary">Limpiar Cursos</button>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Creditos</th>
            <th>Activo</th>
        </tr>
    </thead>
    <tbody>
        <!-- Aquí se llenará la tabla con los estudiantes -->
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function()
    {
        $('#limpiarListaCursos').click(function()
        {
            var tableBody = $('table tbody');
            tableBody.empty();
        });

        $('#listarCursos').click(function()
        {
            console.log('estoy en el click');

            $.ajax({
                type: "GET",
                url: "Courses/Get",
                success: function (result)
                {
                    console.log('estoy en el ajax');
                    var tableBody = $('table tbody');
                    tableBody.empty();

                    result.forEach(function (curso)
                    {
                        var newRow = `
                                     <tr>
                                        <td>${curso.courseID}</td>
                                        <td>${curso.courseName}</td>
                                        <td>${curso.credit}</td>
                                        if (${curso.enable})
                                        {
                                            <td>Activo</td>
                                        }
                                     </tr>`;
                        tableBody.append(newRow);
                    });
                },
                error: function()
                {
                    alert('Hubo un error al listar los cursos');
                }
            });
        });

    });

</script>